name: Build & Push Image

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ca-central-1

      - name: Login to ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build image
        run: |
          docker build -t crimelens-pipeline .

      - name: Tag image
        run: |
          docker tag crimelens-pipeline:latest \
          502867509200.dkr.ecr.ca-central-1.amazonaws.com/crimelens-pipeline:latest

      - name: Push image
        run: |
          docker push \
          502867509200.dkr.ecr.ca-central-1.amazonaws.com/crimelens-pipeline:latest
